export FLASK_APP="backend:create_app()"
export DATABASE_URI="sqlite:///db.sqlite"

# generate cryptographically secure random data, e.g. head -c 32 /dev/urandom | base64
export SECRET_KEY="<key>"


export MAIL_SENDER='Supermarkt <info@supermarkt.org>'
export MAIL_SERVER=''
export MAIL_PORT=587
export MAIL_USE_TLS=true
export MAIL_USE_SSL=true
export MAIL_USERNAME=''
export MAIL_PASSWORD=''
